.js .dropbutton-widget {
	overflow: hidden;
	margin: 0.125em 0;
	cursor: pointer;
	text-align: center;
	color: white;
	border: 1px solid;
	border-color: #96e968 #63d225 #235f02 #81d652;
	border-radius: 1em;
	background-color: #ffefdb;
	background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
	background-image: linear-gradient(to bottom, #68f41b, #296706);
}

.js .dropbutton a {
	color: #fff;
	border-bottom: 0 none;
	font-weight: bold;
}

.js .dropbutton .dropbutton-action:hover, .js .dropbutton a:hover {
	border-bottom: 0 none;
	background: #2e8100;
}

.js .dropbutton-toggle button {
	background-color: #2e8100;
	background-image: -webkit-linear-gradient(top, #e8e8e8, #d2d2d2);
	background-image: linear-gradient(to bottom, #4ac605, #1a3e07);
}